@rem:375/10rem*1.8;
.search{
  height: 80/@rem;
  width: 100%;
  border-radius: 15/@rem;
  margin-top: 2/@rem;
  font-size: 38/@rem;
  background-color:rgb(156, 122, 156);
  // padding-left: 100px;
  // padding-left: 100px;
}
input::-webkit-input-placeholder{color:#fff} /* 使用webkit内核的浏览器 */ 
input:-moz-placeholder{color:#fff} /* Firefox版本4-18 */ 
input::-moz-placeholder{color:#fff} /* Firefox版本19+ */ 
input:-ms-input-placeholder{color:#fff}
.search::-webkit-input-placeholder {
color:red;
font-size: 34/@rem;
text-align: center;
}